@import "tailwindcss";
@tailwind utilities;
/** @type {import('tailwindcss').Config} */
export default {
  darkMode: 'class', // DAS IST WICHTIG
  content: [
    './**/*.php',
    './**/*.html',
    './**/*.js',
  ],
  theme: {
    extend: {},
  },
  plugins: [],
};